/node_modules/
/package-lock.json
/src/client/dist/

/src/server/database*
/src/client/src/firebaseConfig.js
/src/server/yp-2425-10-firebase-adminsdk-fbsvc-7dfe32071b.json

/src/server_old/*
*.vscode/
*appsettings*.json
/src/DataBaseApi/.vs/*
/src/DataBaseApi/DataBaseApi/bin/*
/src/DataBaseApi/DataBaseApi/obj/*
src/DataBaseApi/DataBaseApi/wwwroot/images/*
src/DataBaseApi/DataBaseApi/wwwroot/previews/*
/src/DataBaseApi/DataBaseApi/DataBaseApi.csproj.user
/src/DataBaseApi/appsettings.json